html, body { height: 100%; margin: 0; padding: 0;  width: 100%; }
body { font-family: Arial; font-size: 13px; line-height: 1.5; }

body.webgl { overflow: hidden; }

#webGlCanvas  { font-family: 'Courier New'; font-size: 11px; height: 100%; }
#webGlCanvas .tags { color: white; position: absolute; top: 25px; }
#webGlCanvas .tags a { color: #AAAAFF; }

#webGlCanvas .output { color: white; display: none; left: 25px; position: absolute; top: 200px; }

@media (min-width: 768px) {
	#webGlCanvas .output { display: block; }
}


/* DAT.GUI: overwrite styles */
.dg.main, .dg.main .close-button { max-width: 800px; margin: 0 !important; }

@media (max-width: 767px) {
	.dg.main, .dg.main .close-button { width: 100% !important; }
}