html, body { height: 100%; margin: 0; overflow: hidden; padding: 0; width: 100%; }
body { font-family: Arial; font-size: 13px; line-height:1.5; }
			
.tags { color: white; font-family: 'Courier New'; font-size: 11px; position: absolute; }

#webGLCanvas { height: 100%; }